<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<div layout:fragment="content" >
    <titleFragment th:include="fragments/title :: titleFragment (${route.routeName} + '번 상세정보')"
                   th:remove="tag"></titleFragment>

    <busListTabFrag th:include="fragments/busListTab :: busListTabFrag (tabIndex='1', routeId=${route.id.toString()})"
                    th:remove="tag"></busListTabFrag>

    <div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">라우트ID = <span th:text="${route.routeId}"></span></li>
            <li class="list-group-item">노선번호 = <span th:text="${route.routeName}"></span></li>
            <li class="list-group-item">운행정보
                <div>평일 운행 대수 = <span th:text="${route.weekdayCount}"></span></div>
                <div>주말 운행 대수 = <span th:text="${route.weekendCount}"></span></div>
                <div>2층버스 평일 운행 대수 = <span th:text="${route.weekdayDoubleDeckerCount}"></span></div>
                <div>2층버스 주말 운행 대수 = <span th:text="${route.weekendDoubleDeckerCount}"></span></div>
            </li>
            <li class="list-group-item">운수업체 = <span th:text="${route.companyName}"></span></li>
            <li class="list-group-item">평일최소 배차시간 = <span th:text="${route.peekAlloc}"></span></li>
            <li class="list-group-item">평일최대 배차시간 = <span th:text="${route.nPeekAlloc}"></span></li>
            <li class="list-group-item">기점
                <div>기점정류소 = <span th:text="${route.startStationName}"></span> (<span th:text="${route.startStationId}"></span>)</div>
                <div>평일기점 첫차시간 = <span th:text="${route.upFirstTime}"></span></div>
                <div>평일기점 막차시간 = <span th:text="${route.upLastTime}"></span></div>
            </li>
            <li class="list-group-item">종점
                <div>종점정류소 = <span th:text="${route.endStationName}"></span> (<span th:text="${route.endStationId}"></span>)</div>
                <div>평일종점 첫차시간 = <span th:text="${route.downFirstTime}"></span></div>
                <div>평일종점 막차시간 = <span th:text="${route.downLastTime}"></span></div>
            </li>
        </ul>
    </div>
</div>
</html>