.footer {
    width: 100%;
    height: 60px;
    margin-top: 20px;
    padding-top: 18px;
    background-color: #eeeeee;
    color: #aaaaaa;
    text-align: center;
}

.contentAlignRight {
    width: 100%;
    text-align: right;
}

.topPadding {
    padding-top:15px;
}

.bottomPadding {
    padding-bottom:15px;
}

.topMargin {
    margin-top: 15px;
}

.bottomMargin {
    margin-bottom: 15px;
}

.progress-area {
}

.station-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.station-list-item {
    list-style: none;
    padding-top:3px;
    padding-bottom:3px;
    border-bottom: 1px solid #eeeeee;
}
.location-list {
}
.location-list ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.location-list li {
    list-style: none;
    margin: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 5px;
    padding-top: 0px;
    background-color: #eeeeee;
    font-size: 0.9em;
}
.location-list-item-bar {
    padding-left:3px; padding-right:3px; color:gray;
}
.border-top {
    border-top: 1px solid #eeeeee;
}
.border-bottom {
    border-bottom: 1px solid #eeeeee;
}


.open {
    display: block;
}
.close {
    display: none;
}

.seat-zero {
    background-color: #9fcdff33;
}
.seat-ten {
    background-color: #9fcdff5e;
}

.plate-type-icon {
    width: 20px;
}
